@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------  Global  ------------------------------ */
body {
  background-color: #1d232a;
  color: aliceblue;
}
.app {
  display: flex;
}

/* -----------------------  input student (Kévin)  ------------------------------ */

.input-field {
  height: 100vh;
  width: 250px;
  background-color: #1d232a;
  color: rgb(240, 248, 255);
  padding: 1rem;
  border-right: solid beige 1px;
  min-width: 250px;
}

/* -----------------------  button filter (Marco)  ------------------------------ */

.btn-container {
  border-bottom: solid beige 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 60px;
  padding: 20px;
}

.number-group-input {
  border: beige solid 2px;
  background-color: #1d232a;
  border-radius: 5px;
  margin: 0 20px;
  padding-left: 5px;
  width: 60px;
}

.randomize-input {
  border: beige solid 2px;
  background-color: #1d232a;
  border-radius: 5px;
  margin: 0 20px;
  padding: 5px 10px;
  background-color: #2a323c;
  transition: all 0.2s ease-in;
}

.randomize-input:hover {
  background-color: rgb(72, 82, 94);
  scale: 1.04;
}
.randomize-input:active {
  scale: 0.9;
}

/* -----------------------  groups rendering (Léo)  ------------------------------ */

.group_wrapper {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.group_item {
  padding: 1rem;
  background-color: #2a323c;
  border-radius: 0.5rem;

  min-width: 140px;
}

.group-class {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
